
 @model IEnumerable<Product>

<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6 d-flex">
            <div class="card border-0 p-3 shadow border-top border-5 rounded w-100 h-100 d-flex flex-column">
                @if (product.ImageURL != null)
                {
                    <img src="@product.ImageURL" class="card-img-top rounded" style="height: 250px; object-fit: cover;" />
                }
                else
                {
                    <img src="https://placehold.co/500x600/png" class="card-img-top rounded" style="height: 250px; object-fit: cover;" />
                }

                <div class="card-body pb-0 flex-grow-1 d-flex flex-column">
                    <div class="flex-grow-1">
                        <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
                        <p class="card-title text-warning text-center">by <b>@product.Author</b></p>
                        <p class="text-dark text-opacity-75 text-center mb-0">
                            List Price:
                            <span class="text-decoration-line-through">
                                @product.DisplayPrice.ToString("c")
                            </span>
                        </p>
                        <p class="text-dark text-opacity-75 text-center">
                            As low as:
                            <span>
                                @product.Price100.ToString("c")
                            </span>
                        </p>
                    </div>
                </div>

                <div>
                    <a asp-action="Details"
                       asp-route-id="@product.Id"
                       class="btn btn-primary bg-gradient border-0 form-control mt-auto">
                        Details
                    </a>
                </div>
            </div>
        </div>
    }
</div>
